#ima1 {margin-right: 70%;
width: 50%;
}

footer {margin-right: 20%;
background-color: blue;
}


    .h1 .agdasima-regular {
        font-family: "Agdasima", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .agdasima-bold {
        font-family: "Agdasima", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
